<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
<!--         <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://ec2-50-19-213-178.compute-1.amazonaws.com:3306/cmgquizz</property>
        <property name="hibernate.connection.username">quizzCMG</property>
        <property name="hibernate.default_schema">cmgquizz</property>
        <property name="hibernate.connection.password">quizzCMG</property> -->
         <property name="connection.datasource">java:comp/env/jdbc/quizzDB</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping resource="fr/gfi/cmg/QuizzCmg/metier/entite/hibernate/Reponse.hbm.xml" />
        <mapping resource="fr/gfi/cmg/QuizzCmg/metier/entite/hibernate/Role.hbm.xml" />
        <mapping resource="fr/gfi/cmg/QuizzCmg/metier/entite/hibernate/Question.hbm.xml" />
        <mapping resource="fr/gfi/cmg/QuizzCmg/metier/entite/hibernate/User.hbm.xml" />
        <mapping resource="fr/gfi/cmg/QuizzCmg/metier/entite/hibernate/Langage.hbm.xml" />
        <mapping resource="fr/gfi/cmg/QuizzCmg/metier/entite/hibernate/ReponseCandidat.hbm.xml" />
        <mapping resource="fr/gfi/cmg/QuizzCmg/metier/entite/hibernate/QuizzQuestion.hbm.xml" />
        <mapping resource="fr/gfi/cmg/QuizzCmg/metier/entite/hibernate/TypeSujet.hbm.xml" />
        <mapping resource="fr/gfi/cmg/QuizzCmg/metier/entite/hibernate/QuizzSujet.hbm.xml" />
        <mapping resource="fr/gfi/cmg/QuizzCmg/metier/entite/hibernate/NiveauQuestion.hbm.xml" />
        <mapping resource="fr/gfi/cmg/QuizzCmg/metier/entite/hibernate/Quizz.hbm.xml" />
         <mapping resource="fr/gfi/cmg/QuizzCmg/metier/entite/hibernate/UserRoles.hbm.xml" />
       
    </session-factory>
</hibernate-configuration>
