<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration >

	<!-- DEFINITION DES APPENDERS  -->

	<!-- Appender pour la console, utile surtout pour un premier debug -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- param name="ConversionPattern" value="%x %X [%-5p][ %C{1}] >> %m%n" / -->
	            <param name="ConversionPattern" value="%x - [%d{dd/MM/yyyy HH:mm:ss}] %p %C - %m%n"/>
		</layout>
	</appender>


	 <appender name="SERVEUR" class="org.apache.log4j.DailyRollingFileAppender">
	        <param name="File" value="c:/local/temp/Quiz-serveur.log" />
	        <param name="Append" value="false"/>
	        <!-- param name="DatePattern" value="'.'yyyy-ww"/ -->
	        <param name="DatePattern" value="'.'yyyy-MM-dd-HH-mm"/>
	        <layout class="org.apache.log4j.PatternLayout">
	            <param name="ConversionPattern" value="[%-5p][ %d{HH:mm:ss,SSS} ][%t] - [ %C{1}] >> %m%n"/>
	        </layout>
	 </appender>



	<!-- Appender de type fichier, avec les traces d'erreurs, utile pour prod et pre prod -->
	<!-- Attention ! les path doivent utiliser "\\" ou "/" -->
	<!-- Ex : param name="File" value="c:/log.txt" /-->
	<appender name="FILELOGERREUR" class="org.apache.log4j.FileAppender">
		<param name="Threshold" value="ERROR" />
		<param name="File" value="c:/Local/Quiz-erreurs.txt" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p][%t] %d{DATE} %c - %m%n" />
		</layout>
	</appender>

	<!-- pour la definition des patterns, voir : -->
	<!-- http://logging.apache.org/log4j/docs/api/org/apache/log4j/PatternLayout.html -->

	<!-- LOGGERS LEVEL -->
	<!-- pour les logs, on ouvre au max avant de restreindre
		 dans les catégories suivantes
	 -->

	<category name="fr.icdc.dei.fwk.web">
	  <priority value="INFO"/>
	</category>

	<category name="fr.gfi.quiz">
	  <priority value="DEBUG"/>
	</category>

	<category name="fr.gfi.quiz.presentation">
	  <priority value="INFO"/>
	</category>

	<!--

		API bas niveau

	-->

	<!-- module SPRING  -->

 	<category name="org.springframework">
	  <priority value="ERROR"/>
	</category>

	<category name="org.springframework.core">
	  <priority value="ERROR"/>
	</category>

	<!-- logs catalogue -->
	<category name="org.springframework.beans">
	  <priority value="ERROR"/>
	</category>

	<category name="org.springframework.context">
	  <priority value="ERROR"/>
	</category>

	<category name="org.springframework.aop">
	  <priority value="ERROR"/>
	</category>

	<category name="org.springframework.security">
	  <priority value="ERROR"/>
	</category>

	<!-- log datasource interne -->
	<category name="org.springframework.jdbc">
	  <priority value="ERROR"/>
	</category>

	<category name="org.springframework.transaction">
	  <priority value="ERROR"/>
	</category>

	<category name="org.springframework.orm">
	  <priority value="ERROR"/>
	</category>

	<category name="org.springframework.cache">
	  <priority value="ERROR"/>
	</category>

	<category name="org.springframework.jndi">
	  <priority value="ERROR"/>
	</category>

	<category name="org.springframework.web">
	  <priority value="ERROR"/>
	</category>

	<!-- theme -->
	<category name="org.springframework.ui">
	  <priority value="ERROR"/>
	</category>



	<!-- Hibernate -->

	<category name="org.hibernate">
	  <priority value="ERROR"/>
	</category>

	<category name="net.sf">
	  <priority value="ERROR"/>
	</category>

	<!-- sun bas niveau  -->

	<category name="com.sun">
	  <priority value="FATAL"/>
	</category>

	<!-- Apache (tiles) -->
	<category name="org.apache">
	  <priority value="ERROR"/>
	</category>

	<category name="org.apache.commons">
	  <priority value="FATAL"/>
	</category>

	<!-- dozer -->

	<category name="org.dozer">
	  <priority value="ERROR"/>
	</category>


	<!-- APPENDERS DECLARATION, activation des differents modes -->
	<root>
		<appender-ref ref="CONSOLE" />
		<!-- appender-ref ref="SERVEUR" / -->
		<!-- appender-ref ref="FILELOGCOMPLET" / -->
	</root>

</log4j:configuration>